<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <clear/>
    <add name="mysqlConnection" connectionString="server=localhost; user=root; database=db_pos; Convert Zero Datetime=True"/>
    <add name="database" connectionString="db_pos"/>
    <add name="user" connectionString="root"/>
    <add name="password" connectionString=""/>
    <add name="server" connectionString="localhost"/>
    <add name="port" connectionString=""/>
  </connectionStrings>
</configuration>
